.employee-edit {
  &__container {
    // display: flex;
    // flex-direction: column;
    overflow: auto;
  }
}

.employee-content-left {
  background-color: #fff;
}

.employee-content-right {
  background: #f0f0f0;
  border-left: 1px solid #ddd;

  padding: 24px;

  .ant-form-item {
    margin-bottom: 24px !important;
  }
}

.form-group {
  padding: 24px 24px 16px 24px;
  border-bottom: 1px solid rgba(243,244,246,1);
  background-color: #fff;

  h5 {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-bottom: 8px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    line-height: 22px;
    margin: 0;
  }

  input, .ant-select-selector, .ant-input-password, .ant-btn {
    border-radius: 4px;
  }

  .ant-form-item {
    margin-bottom: 24px !important;
  }
}

.form-item {
  padding: 0 8px;
}

.employee-form-divider {
  margin: 8px 24px 0 24px !important;
  width: unset !important;
  min-width: unset !important;
}

.non-border {
  border-bottom: 0 !important;
}

.non-margin-left {
  margin-left: 0 !important;
}

.ant-form-item-label {
  font-weight: 500;
}