.extra-info {
  width: 300px;

  p {
    margin: 0;
  }

  span {
    color: rgba(107,114,128,1);
    font-size: 12px;
    font-weight: 700;
    line-height: 22.75px;
  }

  .ant-divider-horizontal {
    margin: 4px 0 !important;
  }
}